html {
    font-size: 62.5%;
}
body {
    width: 60%;
    margin: 0 auto;
    /* border: .1rem black solid; */
}
.noteArea {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.note {
    width: 20rem;
    height: 30rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: .1rem black solid;
}
.note::before {
    opacity: 50%;
    
}
.infoOfNote{
    width: 20rem;
    overflow-wrap: break-word;
}


